---
import Sidebar from "../components/Sidebar/Sidebar.astro";
---

<div class="flex">
  <Sidebar />
  <div class="w-3xl mx-auto pt-10 h-screen overflow-y-auto overflow-x-hidden"><slot /></div>
</div>
